//Footer

footer {
    background-color: #000;
    height: 209px;
  }
  
  .footer_banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
  
  .logo_footer{
    height: 40px;
  }
  
  .copyright{
    color: white;
  }
  