//Body

* {
  
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

header{
  padding: 20px 60px 0px 60px;
}


  
//Media queries

@media (max-width:768px){
  header{
    padding: 30px 20px 0px 20px;
  }
  
  
.body_housing{
  padding: auto;

}
}
  
  




