.host_infos{
    display: flex;
    align-items: center;
    gap: 20px;
    .host_picture{
      border-radius: 50%;
      width: 64px;
      height: 64px;

    }
    .host_name{
      font-size: 18px;
      font-weight: 500;
      text-align: right;
      color: rgba(255, 96, 96, 1);
      ;
    }
}

@media (max-width:768px){
  .host_infos{
    .host_name {
    font-size: 12px;
  }}
}