.raiting{
    display: flex; 
  }
  
div .star-filled {
     color:  rgba(255, 96, 96, 1);
    }
.star{
      color: rgba(227, 227, 227, 1);
      font-size: 25px;
      margin-right: 10px;
    }

    @media (max-width:768px){
      .star{
        font-size: 15px;
      }    
    }